{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "ignorePatterns": ["dist", "node_modules", "coverage"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"],
        "ecmaVersion": "latest",
        "sourceType": "module"
      }
    }
  ],
  "env": {
    "node": true,
    "browser": true,
    "es2021": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "eqeqeq": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 0 }],
    "curly": "warn",
    "no-duplicate-imports": "warn",
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "no-unreachable": "error",
    "no-path-concat": "error",
    "no-cond-assign": ["error", "always"],
    "@typescript-eslint/no-floating-promises": "error",
    "lines-between-class-members": [
      "warn",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": {
          "arguments": false,
          "attributes": false
        }
      }
    ],
    "sort-imports": [
      "warn",
      {
        "ignoreDeclarationSort": true,
        "ignoreCase": true
      }
    ],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ]
  }
}
